<div cdkDropListGroup class="mainwrap w-[90%] m-auto">
    <div class="flex  mt-4">
        <div class="flex gap-4">
            <img src="assets\svg-cards\cardback.svg" (click)="showCard()">
            <div class="flex items-center border  border-white w-[222px] rounded-md bg-green-700 " #stockList="cdkDropList" cdkDropList [cdkDropListData]="stock" [cdkDropListConnectedTo]="[]" [ngClass]="{'border-none bg-[#006400]': displayCard}">
                <img cdkDrag *ngIf="displayCard" src="{{ 'assets/svg-cards/' + cardInStock }}">
            </div>
        </div>
        <div class="flex gap-4">
            <div class="  w-[234px] "></div>
            <div class=" border  border-white w-[234px] rounded-md bg-green-700"></div>
            <div class=" border  border-white w-[234px] rounded-md bg-green-700"></div>
            <div class=" border  border-white w-[234px] rounded-md bg-green-700"></div>
            <div class=" border  border-white w-[234px] rounded-md bg-green-700"></div>
        </div>
    </div>

    <div class="flex mt-5 gap-4 mx-8  ">

        <div cdkDropList #pile1List="cdkDropList" [cdkDropListConnectedTo]="[pile2List]" [cdkDropListData]="pile1" (cdkDropListDropped)="drop($event)">
            <div class="relative w-[222px] h-auto" *ngFor="let items of pile1">
                <img cdkDrag class="w-full absolute z-10" src="{{'assets/svg-cards/' + items}}">
            </div>

        </div>
        <div cdkDropList #pile2List="cdkDropList" [cdkDropListConnectedTo]="[pile1List]" [cdkDropListData]="pile2" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let items of pile2,let i=index" class="relative w-[222px] h-auto">
                <!-- <img class="w-full absolute z-0" src="assets/svg-cards/cardback.svg" alt="Card Back"> -->
                <img class="w-full absolute top-5 " src="{{'assets/svg-cards/' + items}}"> alt="King of Hearts">
            </div>
        </div>
        <div>
            <div class="relative w-[222px] h-auto">
                <img class="w-full absolute z-0" src="assets/svg-cards/cardback.svg" alt="Card Back">
                <img class="w-full absolute top-4  z-5" src="assets/svg-cards/cardback.svg" alt="Card Back">
                <img class="w-full absolute top-10 z-10" src="assets/svg-cards/king_of_hearts.svg" alt="King of Hearts">
            </div>
        </div>
        <div>
            <div class="relative w-[222px] h-auto">
                <img class="w-full absolute z-0" src="assets/svg-cards/cardback.svg" alt="Card Back">
                <img class="w-full absolute z-5 top-5 " src="assets/svg-cards/cardback.svg" alt="Card Back">
                <img class="w-full absolute top-10 z-10" src="assets/svg-cards/cardback.svg" alt="Card Back">
                <img class="w-full absolute top-14 z-20" src="assets/svg-cards/king_of_hearts.svg" alt="King of Hearts">
            </div>
        </div>
        <div>
            <div class="relative w-[222px] h-auto">
                <img class="w-full absolute z-0" src="assets/svg-cards/cardback.svg" alt="Card Back">
                <img class="w-full absolute z-5 top-5 " src="assets/svg-cards/cardback.svg" alt="Card Back">
                <img class="w-full absolute top-10 z-10" src="assets/svg-cards/cardback.svg" alt="Card Back">
                <img class="w-full absolute top-14 z-20" src="assets/svg-cards/cardback.svg" alt="Card Back">
                <img class="w-full absolute top-[72px] z-30" src="assets/svg-cards/king_of_hearts.svg" alt="King of Hearts">
            </div>
        </div>
        <div>
            <div class="relative w-[222px] h-auto">
                <img class="w-full absolute z-0" src="assets/svg-cards/cardback.svg" alt="Card Back">
                <img class="w-full absolute z-5 top-5 " src="assets/svg-cards/cardback.svg" alt="Card Back">
                <img class="w-full absolute top-10 z-10" src="assets/svg-cards/cardback.svg" alt="Card Back">
                <img class="w-full absolute top-14 z-20" src="assets/svg-cards/cardback.svg" alt="Card Back">
                <img class="w-full absolute top-[70px] z-20" src="assets/svg-cards/cardback.svg" alt="Card Back">
                <img class="w-full absolute top-[86px] z-40" src="assets/svg-cards/king_of_hearts.svg" alt="King of Hearts">
            </div>
        </div>
        <div>
            <div class="relative w-[222px] h-auto">
                <img class="w-full absolute z-0" src="assets/svg-cards/cardback.svg" alt="Card Back">
                <img class="w-full absolute z-5 top-5 " src="assets/svg-cards/cardback.svg" alt="Card Back">
                <img class="w-full absolute top-10 z-10" src="assets/svg-cards/cardback.svg" alt="Card Back">
                <img class="w-full absolute top-14 z-20" src="assets/svg-cards/cardback.svg" alt="Card Back">
                <img class="w-full absolute top-[70px] z-30" src="assets/svg-cards/cardback.svg" alt="Card Back">
                <img class="w-full absolute top-[86px] z-50" src="assets/svg-cards/cardback.svg" alt="King of Hearts">
                <img class="w-full absolute top-[100px] z-[60]" src="assets/svg-cards/king_of_hearts.svg" alt="King of Hearts">
            </div>
        </div>

    </div>

</div>